FRIDAY_OBSERVER_BIND_ADDRESS=192.168.1.124
FRIDAY_OBSERVER_PORT=3199
FRIDAY_OBSERVER_TOKEN=
FRIDAY_OBSERVER_HOST_NAME=VM 100
FRIDAY_OBSERVER_ALLOWED_LABEL_KEYS=com.docker.compose.project,com.docker.compose.service
